*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{ 
    font-family: 'Fredoka One', cursive;
    max-width: 1000px;
    margin-inline: auto;
    text-align: center;
}
    
   

h1{
    font-weight: 400;
    color: deeppink;
    padding: 3rem;
}

p{
    padding-bottom: 2rem;
}

.card{
    width: 15rem;
    height: 5rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    margin-left: auto;
    background-color: black;
    color: white;
    display: inline-block;
    
}

.ph-Male1{
    width: 5rem;
    float: left;
    contain: content"";
}

address{
    color: cornflowerblue;
    
}
